boto            
boto3           
botocore        
bz2file         
certifi         
chardet         
docutils        
futures         
gensim          
idna            
jieba           
jmespath        
numpy           
pandas          
pip             
python
pytz            
requests        
s3transfer      
scipy           
setuptools      
six             
urllib3         
wheel           
